body {
    background-color: #682A8F;
}


h1 {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.header {
    padding: 15px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #682A8F;
    color: white;
}

.footer {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #47404c;
    color: white;
    position: center;
    bottom: 0;
    width: 100%;
}

#canvas {
    max-width: 500px;

}

#middle {
    padding-top: 40px;
    padding-bottom: 40px;
}

#body {
    background-color: #D8C8E1;
}

#main {
    display: flex;
    flex-direction: row;
}

#form-box, #img-box {
    height: 100%;
    width: 50%;
}

#info {
    display: flex;
    flex-direction: column;
}

#photo-preview {
    width: 15%;
    height: 15%;
}

#hide-photo {
    max-width: 100%;
}

#your-endorsement {
    width: 100%;
}

@font-face {
    font-family: "Hanley Sans";
    src: url("D62-Hanley-Sans.ttf");
}

@media (pointer: none), (pointer: coarse){
    #canvas {
        max-width: 100%;
        padding:10px;
    }
}
