body {
    background-color: #682A8F;
}


h1 {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
}

.header {
    padding: 60px 15px 40px;
    background-color: #682A8F;
    color: white;
}

.footer {
    width: 100%;
    padding: 30px 15px 20px;
    background-color: #47404c;
    color: white;
    position: center;
    bottom: 0;
}

#form {
    padding-bottom: 50px;
}

#message {
    min-height: 150px;
}

#gen-pictures {
    align-items: center;
}

#fbCanvas {
    width: 100%;
    max-width: 500px;

}

#twCanvas {
    width: 100%;
    max-width: 500px;
}

#icoCanvas {
    width: 100%;
    max-width: 200px;
}


#middle {
    padding-top: 40px;
    padding-bottom: 40px;
}

#body {
    background-color: #D8C8E1;
}

#main {
    display: flex;
    flex-direction: row;
}

#info {
    display: flex;
    flex-direction: column;
}

#photo-preview {
    width: 15%;
    height: 15%;
}

#hide-photo {
    max-width: 100%;
}

#your-endorsement {
    width: 100%;
}

#endorsements {
    padding-top: 100px;
}

.row {
    padding: 20px;
}
.list-group {
    padding: 20px 20px 50px;
}


input[type="file"] {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    overflow: auto;
}


@font-face {
    font-family: 'Noto Sans JP', sans-serif;
}

@media (pointer: none), (pointer: coarse){
    .canvas {
        max-width: 100%;
        padding:10px;
    }
}
