element.style {
    margin: 0px;
}

body {
    background-color: #ffffff;
}

body>header {
    background-color: #682A8F;
    color: #FFF;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3em;
}



#main {
    display: flex;
    flex-direction: row;
}

#form-box, #img-box {
    height: 100%;
    width: 50%;
}

#info {
    display: flex;
    flex-direction: column;
}

#photo-preview {
    width: 15%;
    height: 15%;
}

#hide-photo {
    max-width: 100%;
}

#your-endorsement {
    width: 100%;
}
